.main{
    padding: 0;
    margin: 0;
}
.main{
    
    text-align: center;
    justify-content: center;
    
}

.allBooks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.block{
    text-align: center;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background: #7eca9c;
    border-radius: 10px;

}
.block:hover{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.45);
    transform: scale(1.05);

}
@media screen and (max-width: 930px){
    .allBooks{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width: 700px){
    .allBooks{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 400px){
    .allBooks{
        grid-template-columns: repeat(1, 1fr);
    }
    
}