.container1, .container2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100%;
    width: 100%;
    
}
.container2{
    height: 100vh;
}
.dark{
    height: 100%;
    width: 100%;
    background: rgb(17, 14, 14);
    color: white;
    margin: auto;
}
.light{
    height: 100%;
    width: 100%;
    background: white;
    color: black;
    margin: auto;
}
#lightDark{
    background: rgb(68, 64, 64);
}


.content, .menu button{
    border: none;
    outline: none;
}
.menu{
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/-1;
}
.themeButton{
    font-size: larger;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}
#toggle{
    font-size: 40px;
    transition: 0.6s;
}

.books{
    grid-column: 4/-1;
    grid-row: 1/-1;
}
.menu, .topBar, .books{
    background-color: #caf7e3;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
}
.menu:hover, .topBar:hover, .books:hover{
    box-shadow: 5px 5px 5px 5px #7e7979;
}


/* Menu Css */
.menu div{
    margin-top: 10px;
}
.menu button{
    width: 100%;
    margin-top: 10px;
}


/* Books Css */
.allBooks{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 900px){
    .allBooks{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width: 700px){
    .allBooks{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 400px){
    .allBooks{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
.block{
    text-align: center;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background: #7eca9c;
    border-radius: 10px;

}
.block:hover{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.45);
    transform: scale(1.05);

}